@page "/counter"

<PageTitle>Contatore</PageTitle>

<h1>Contatore</h1>

<p role="status">Conteggio attuale: @currentCount</p>

<label>Valore di incremento:</label>
<input type="number" @bind="incrementValue" />

<button class="btn btn-primary" @onclick="IncrementaContatore">Cliccami</button>

@code {
    private int currentCount = 0;
    private int incrementValue = 1;  // valore di default

    private void IncrementaContatore()
    {
        currentCount += incrementValue;
    }
}
