@page "/weather"
@inject HttpClient Http

<PageTitle>Meteo</PageTitle>

<h1>Meteo</h1>

<p>Questo componente dimostra come recuperare dati dal server.</p>

@if (previsioni == null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th aria-label="Temperatura in gradi Celsius">Temp. (°C)</th>
                <th aria-label="Temperatura in gradi Fahrenheit">Temp. (°F)</th>
                <th>Descrizione</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var previsione in previsioni)
            {
                <tr>
                    <td>@previsione.Data.ToShortDateString()</td>
                    <td>@previsione.TemperaturaC</td>
                    <td>@previsione.TemperaturaF</td>
                    <td>@previsione.Descrizione</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PrevisioneMeteo[]? previsioni;

    protected override async Task OnInitializedAsync()
    {
        previsioni = await Http.GetFromJsonAsync<PrevisioneMeteo[]>("sample-data/weather.json");
    }

    public class PrevisioneMeteo
    {
        public DateOnly Data { get; set; }

        public int TemperaturaC { get; set; }

        public string? Descrizione { get; set; }

        public int TemperaturaF => 32 + (int)(TemperaturaC / 0.5556);
    }
}
